<% locals.products.reduce((a, product) => {
    if(a.indexOf(product.categories) === -1) { a = [...a, product.categories] };
    return a;
}, []).forEach(categorie => { %>
    <option><%= categorie %></option>
<% }) %>