<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="keywords" content="hhshop, underwear, fashion, men">
    <meta property="og:type" content="website">
    <meta name="keywords" content="underwear, hhshop">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta property="og:url" content="http://c1b41197.ngrok.io">
    <meta property="og:site_name" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta property="og:description" content="Calvin Klein">
    <meta property="og:locale" content="vi">
    <meta property="og:image" content="img/hh/cover.png">
    <meta property="og:image" content="img/hh/logo.png">
    <meta property="og:image" content="img/hh/logo.png">
    <meta property="og:updated_time" content="2018-09-11T13:58:09.710Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta name="twitter:description" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta name="twitter:image" content="img/hh/cover.png">
    <!-- Title  -->
    <title>HH Shop | Calvin Klein Ủy Quyền</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/hh/logo_syc_icon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><h5>HH SHOP</h5></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
            </nav>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Đăng nhập</a>
                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Đăng ký</a>
                </div>
            </div>
          <div class="col-9">
            <script src="https://use.fontawesome.com/c560c025cf.js"></script>
            <div class="container">
               <div class="card shopping-cart">
                        <div class="card-header bg-dark text-light">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Shipping cart
                            <a href="" class="btn btn-outline-info btn-sm pull-right">Continiu shopping</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body">
                            <!-- PRODUCT -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-2 text-center">
                                        <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                    <h4 class="product-name"><strong>Product Name</strong></h4>
                                    <h4>
                                        <small>Product description</small>
                                    </h4>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                        <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4">
                                        <div class="quantity">
                                            <input type="button" value="+" class="plus">
                                            <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                                   size="4">
                                            <input type="button" value="-" class="minus">
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2 text-right">
                                        <button type="button" class="btn btn-outline-danger btn-xs">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- END PRODUCT -->
                            <div class="pull-right">
                                <a href="" class="btn btn-outline-secondary pull-right">
                                    Update shopping cart
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="cupone code">
                                    </div>
                                    <div class="col-6">
                                        <input type="submit" class="btn btn-default" value="Use cupone">
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right" style="margin: 10px">
                                <a href="" class="btn btn-success pull-right">Checkout</a>
                                <div class="pull-right" style="margin: 5px">
                                    Total price: <b>50.00€</b>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Behavior js -->
    <script src="js/behavior.js"></script>
</body>

</html>