<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <h4 style="color: #fff">HH SHOP</h4>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <!-- <div class="footer_heading mb-30">
                        <h6>Subscribe</h6>
                    </div> -->
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

<div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<% if(!locals.user.fullname) { %>
<script src="/js/behavior.js"></script>
<% } else { %>
<script>
    document.getElementById('signout').addEventListener('click', function(ev) {
        ev.preventDefault();
        fetch('/auth/signout', {
            credentials: 'same-origin'
        }).then(() => location.reload())
    });
</script>
<% } %>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=2120236004734377&autoLogAppEvents=1"></script>

<script>

    document.getElementById('headerSearch').addEventListener('keyup', function(ev) {
        ev.target.value === '' ? document.getElementById('searchResult').style.display = 'none'
        :	fetch(`/search?name=${ev.target.value}`)
                .then(res => res.json())
                .then(products => {
                    document.getElementById('searchResult').innerHTML = '';
                    document.getElementById('searchResult').style.display = 'block';
                    for(product of products) {
                        document.getElementById('searchResult').innerHTML += `
                            <a href='/single/${product.name + '.' + product._id}'>
                                <div class="row">
                                    <div class="col-md-3 col-4">
                                        <img src="/${product.image[0]}" class="rounded">
                                    </div>
                                    <div class="col-md-9 col-8">
                                        <h5>${product.name}</h5>
                                        <p>${product.price}</p>
                                    </div>
                                </div><hr/>
                            </a>
                        `
                    }
                })
    })

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '830830207281848',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.2'
        })
    }
    function login() {
        FB.getLoginStatus(function(response) {
            if(response.status !== 'connected') {
                FB.login(function(res) {
                    
                    if(res.status === 'connected') {
                        FB.api('/me', function(resp) {
                            fetch('/auth/fbPost', {
                                method: 'POST',
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(resp)
                            }).then((res) => {
                                location.reload();
                            })
                        });
                    }
                }, {scope: 'public_profile,email'})
            } else {
                FB.api('/me', function(resp) {
                    fetch('/auth/fbPost', {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(resp)
                    }).then((res) => {
                        location.reload();
                    })
                });
            }
        })
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1170663666449726"
  logged_in_greeting="Chào mừng bạn đến với HHShop. Chúng tôi có thể giúp gì cho bạn?"
  logged_out_greeting="Chào mừng bạn đến với HHShop. Chúng tôi có thể giúp gì cho bạn?">
</div>