<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="hhshop, underwear, fashion, men">
    <meta property="og:type" content="website">
    <meta name="keywords" content="underwear, hhshop">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta property="og:url" content="http://c1b41197.ngrok.io">
    <meta property="og:site_name" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta property="og:description" content="Calvin Klein">
    <meta property="og:locale" content="vi">
    <meta property="og:image" content="/img/hh/cover.png">
    <meta property="og:image" content="/img/hh/logo.png">
    <meta property="og:image" content="/img/hh/logo.png">
    <meta property="og:updated_time" content="2018-09-11T13:58:09.710Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta name="twitter:description" content="HH Shop | Calvin Klein Ủy Quyền">
    <meta name="twitter:image" content="/img/hh/cover.png">
    <!-- Title  -->
    <title>HH Shop | Calvin Klein Ủy Quyền</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/hh/logo_syc_icon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/">
                    <h5>HH SHOP</h5>
                </a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Danh mục</a>
                                <ul class="dropdown">
                                    <% for(let category of categories) { %>
                                        <li style="text-transform: capitalize;"><a href="/products/<%= category.categoryName %>"><%= category.categoryName %></a></li> 
                                    <% } %>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area" style="max-width: 350px">
                    <form action="#" method="post" name="searchForm" id="searchForm" autocomplete="off">
                        <input 
                            type="search"
                            name="search"
                            id="headerSearch"
                            placeholder="Tìm kiếm"
                        >
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                    <div class="searchResult" id="searchResult">
                    </div>
                </div>

                <!-- User Login Info -->
                <div class="user-login-info">
                    <% if(locals.user.fullname) { let username = locals.user.fullname.split(' '); %>
                    
                    <a href="#" class="user-link">Hi, <%= username[username.length - 1] %></a>
                    <ul style="line-height: 200%; background: #fff" class="user-login-info-dropdown">
                        <li><a href="/user" class="unset">Thông tin tài khoản</a></li>
                        <li id="signout"><a href="" class="unset" >Đăng xuất</a></li>
                    </ul>
                    <% } else { %>
                    <a href="#"><img src="/img/core-img/user.svg" alt="" ></a>
                    <ul style="line-height: 200%; background: #fff" class="user-login-info-dropdown">
                        <li><a href="" class="unset" data-toggle="modal" data-target="#signin">Đăng nhập</a></li>
                        <li><a href="" class="unset" data-toggle="modal" data-target="#signup">Tạo tài khoản</a></li>
                    </ul>
                    <% } %>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="/cart" id="essenceCartBtn">
                        <img src="/img/core-img/bag.svg" alt=""> 
                        <span id="cartItemsCount">
                            <%= locals.cartItemsCount %>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    

    <% if(!locals.user.email) { %>
    <!-- Modal -->
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <form name="signinForm">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" style="display: none">
                          Email hoặc mật khẩu không hợp lệ
                        </div>
                        <div class="form-group">
                          <label for="email" class="col-form-label">Email</label>
                          <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                          <label for="password" class="col-form-label">Mật khẩu</label>
                          <input type="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" onclick="login()" class="btn btn-outline-primary">Đăng nhập bằng facebook</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <form name="signupForm">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" style="display: none">
                          Tài khoản đã tồn tại
                        </div>
                        <div class="form-group">
                          <label for="fullname" class="col-form-label">Full name</label>
                          <input type="text" class="form-control" name="fullname" required>
                        </div>
                        <div class="form-group">
                          <label for="email" class="col-form-label">Email</label>
                          <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                          <label for="password" class="col-form-label">Mật khẩu</label>
                          <input type="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <% } %>

    